.registerButton {
    display: grid;
    justify-content: flex-end;
    align-items: center;
}

.header-color {
    height: 50px;
    width: auto;
    background-color: #1a6d88;
    display: grid;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    padding: 20px;
    border: 1px solid #000000;
}

.Box {
    background-color: #1a6d88;
}

.boocom-logo {
    color: gold;
    cursor: pointer;
    font-size: 30px;
    border: 3px solid #000000;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
}