.containerUserPage {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 68%;
    background-color: #61dafb;
    border: 2px solid #000000;
    align-content: flex-start;
    width: auto;
    height: 100%;
}

.containerUserImage {
    display: grid;
    justify-self: center;
    align-content: center;
    border-radius: 180px;
    margin: 25px;
    border: 1px solid #020202;
    width: 140px;
    height: 140px;
    background: #fff url(../../images/userImage_placeholder.png) center center/cover no-repeat;
}

.containerUserName {
    display: grid;
    align-content: center;
    justify-self: flex-start;
    font-size: 100px;
    font-family: "American Typewriter", serif;
}

.placeholderDiv {
    display: grid;
    justify-self: center;
    align-content: center;
    border: 1px solid #000000;
    width: 100%;
}

.gitLinks {
    display: grid;
    justify-self: center;
    align-content: center;
    border: 1px solid #000000;
    width: 100%;
}

.gitLink1 {
    display: grid;
    margin: 7px;
    border-style: solid;
    border-radius: 90px;
    font-size: 20px;
    padding: 20px;
}

.gitLink2 {
    display: grid;
    margin: 7px;
    border-style: solid;
    border-radius: 90px;
    font-size: 20px;
    padding: 20px;
}

.gitLink3 {
    display: grid;
    margin: 7px;
    border-style: solid;
    border-radius: 90px;
    font-size: 20px;
    padding: 20px;
}

.gitLink4 {
    display: grid;
    margin: 7px;
    border-style: solid;
    border-radius: 90px;
    font-size: 20px;
    padding: 20px;
}
