.title {
    display: grid;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 2%;
    margin-left: 2%;
    color: #7fffd4;
    font-size: 50px;
    font-family: "American Typewriter", serif;
}

.userName {
    display: grid;
    justify-content: flex-start;
    margin-top: 5%;
    margin-left: 2%;
    color: #7fffd4;
    font-size: 30px;
    font-family: "American Typewriter", serif;
}

.description {
    display: grid;
    justify-items: center;
    align-items: center;
    color: #7fffd4;
    font-size: 20px;
    font-family: "American Typewriter", serif;
    height: 150%;
}


.descriptionBox {
    max-width: 900px;
    word-wrap: break-word;
}